name: Continuous Integration

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build & Verify
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - service-acasa
          - service-despre-noi
          - service-meniu
          - service-evenimente
          - service-parteneri-clienti
          - service-galerie
          - service-blog
          - service-contact
      fail-fast: false
          
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          
      - name: Install dependencies
        working-directory: services/${{ matrix.service }}
        run: npm ci
        
      - name: Build Service
        working-directory: services/${{ matrix.service }}
        run: npm run build
